# Exercise 2(1pt) Title:Project 1

## Exercise 3(1pt) :Introduction
This notebook explores various concepts in data science and demonstrates basic arithmetic operations and conversions.

## Exercise 4(3pts):Data Science Languages
- Python
- R
- SQL

## Exercise 5(3pts):Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Seaborn

## Exercise 6(3pts):Data Science Tools
| Tool       | Description           |
|------------|-----------------------|
| Jupyter    | Interactive computing |
| TensorFlow | Machine learning      |
| scikit-learn | Machine learning     |
| Spark      | Big data processing   |

## Exercise 7(1pt):Arithmetic Expressions Examples
Let's explore some basic arithmetic operations using Python.

In [30]:
# Exercise 8(2pts) - Multiply and Add Numbers (2 pts)
a = 5
b = 10
result_multiply = a * b
result_add = a + b
print("Result of multiplication:", result_multiply)
print("Result of addition:", result_add)

Result of multiplication: 50
Result of addition: 15

In [32]:
# Exercise 9(2pts) - Convert Minutes to Hours (2 pts)
minutes = 120
hours = minutes / 60
print("120 minutes is equal to", hours, "hours")

120 minutes is equal to 2.0 hours

## Exercise 10(3pt - List Objectives (3 pts)
- Perform basic arithmetic operations in Python.
- Convert units of measurement.
- Introduce data science languages and libraries.

## Exercise 11 - Author's Name (2 pts)
- Brhan Zelalem